.icon-card {
    margin-top: -8px;
    z-index: 1;
}

.drop-card {
    margin-top: -8px;
    z-index: 0;
}

.rating-card {
    margin-top: -20%;
    margin-left: 17%;

}

.enjoy {
    margin-top: 20%;
}