@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


@layer components {
    .header-nav {
        @apply bg-[#072448] h-[80px] w-[1265px] rounded-bl-[70px] rounded-br-[70px] m-1
    }

    .ads-section {
        @apply h-[125px] w-[1240px] bg-[#e9eef4] rounded-lg m-3 shadow-sm
    }

    .filter-section {
        @apply bg-[#e9eef4] opacity-80 h-[866px] w-[192px] ml-3 mr-3 text-[#7c7a7a] rounded-lg
    }

    /* .bus-section {
        @apply h-[150px] w-[1030px] mt-1 mb-3 bg-gradient-to-b from-[#85dada] opacity-70 to-[#e3dfcf] opacity-35 shadow-lg rounded-[10px] border-[2px] border-[#fff]
        
    } */

    .bus-section2 {

        @apply h-[150px] w-[1030px] mt-1 mb-3 bg-[url('./assets/images/Exclude.png')] bg-no-repeat bg-cover shadow-sm drop-shadow-sm
    }

    .aminities {
        @apply bg-[#FFFFFF] text-[#000000] font-light text-[12px] text-end pr-3 pl-1 pt-1 rounded-[7px] text-center
    }
}